:host {
  display: block;
}

label {
  font-size: var(--fold-text-xs);
  font-weight: 600;
  color: var(--fold-color-text-secondary);
}

.req {
  color: var(--fold-color-alert-text);
  margin-left: 2px;
}

.opt {
  margin-left: 4px;
  font-weight: 500;
  color: var(--fold-color-text-faded);
}
