<nav
  class="tab-nav"
  [class.style-underline]="activeStyle() === 'underline'"
  [class.style-fill]="activeStyle() === 'fill'"
  [class.dir-vertical]="direction() === 'vertical'"
  [class.size-comfortable]="size() === 'comfortable'"
  [class.bg-surface]="background() === 'surface'"
>
  @for (tab of tabs(); track tab.key) {
    <button
      type="button"
      class="tab-nav-item"
      [class.is-active]="activeKey() === tab.key"
      (click)="tabChange.emit(tab.key)"
    >
      @if (tab.icon) {
        <svg
          class="tab-nav-icon"
          width="14"
          height="14"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path [attr.d]="tab.icon" />
        </svg>
      }
      <span class="tab-nav-label">{{ tab.label }}</span>
      @if (tab.badge !== undefined && tab.badge !== null) {
        <span class="tab-nav-badge">{{ tab.badge }}</span>
      }
    </button>
  }
</nav>
