<div
  class="menu-head"
  [class.head-has-toggle]="collapsible() && resolvedPlacement() === 'header'"
  #head
>
  <ng-content select="[header]" />
  @if (collapsible() && resolvedPlacement() === "header") {
    <ng-container [ngTemplateOutlet]="toggleTpl" />
  }
</div>

<nav class="menu-body">
  <ng-content />
  @if (collapsible() && resolvedPlacement() === "body") {
    <ng-container [ngTemplateOutlet]="toggleTpl" />
  }
</nav>

<div
  class="menu-foot"
  [class.foot-has-toggle]="collapsible() && resolvedPlacement() === 'footer'"
  #foot
>
  @if (collapsible() && resolvedPlacement() === "footer") {
    <ng-container [ngTemplateOutlet]="toggleTpl" />
  }
  <ng-content select="[footer]" />
</div>

<ng-template #toggleTpl>
  <button
    type="button"
    class="menu-toggle"
    [attr.aria-label]="isExpanded() ? 'Collapse menu' : 'Expand menu'"
    (click)="toggle()"
  >
    <fold-icon
      [name]="isExpanded() ? 'chevron-left' : 'chevron-right'"
      [size]="14"
    />
  </button>
</ng-template>
