<fold-input-base
  [label]="label()"
  [for]="inputId"
  [required]="required()"
  [optional]="optional()"
  [optionalLabel]="optionalLabel()"
  [hint]="hint()"
  [error]="errorMessage()"
>
  <fold-popover
    [(open)]="open"
    [autoFocus]="false"
    [ariaControls]="listId"
    [placement]="placement()"
    [fallbackPlacements]="['top-start', 'bottom-end', 'top-end']"
  >
    <div class="lb-field">
      <button
        type="button"
        class="lb-trigger"
        [class.has-clear]="showClear()"
        [id]="inputId"
        foldPopoverTrigger="listbox"
        [disabled]="disabled()"
        [attr.aria-invalid]="errorMessage() ? true : null"
        [attr.aria-describedby]="describedBy()"
        (keydown)="onTriggerKeydown($event)"
      >
        @if (selectedLabel(); as lbl) {
          <span class="lb-value">{{ lbl }}</span>
        } @else {
          <span class="lb-placeholder">{{ placeholder() }}</span>
        }
        <fold-icon
          name="chevron-down"
          size="sm"
          class="lb-caret"
          aria-hidden="true"
        />
      </button>
      @if (showClear()) {
        <button
          type="button"
          class="lb-clear"
          [attr.aria-label]="clearLabel()"
          (click)="clear($event)"
        >
          <fold-icon name="close" size="sm" aria-hidden="true" />
        </button>
      }
    </div>

    <div
      #list
      foldPopoverPanel
      class="lb-list"
      role="listbox"
      tabindex="-1"
      [id]="listId"
      [attr.aria-label]="label()"
      [attr.aria-activedescendant]="activeId()"
      (keydown)="onListKeydown($event)"
      (click)="onListClick($event)"
      (pointermove)="onListPointermove($event)"
    >
      @if (options(); as opts) {
        @for (o of opts; track o.value) {
          <fold-option [value]="o.value" [disabled]="o.disabled ?? false">
            @if (optionTemplate(); as tpl) {
              <ng-container
                [ngTemplateOutlet]="tpl"
                [ngTemplateOutletContext]="{ $implicit: o }"
              />
            } @else {
              {{ o.label }}
            }
          </fold-option>
        }
      } @else {
        <ng-content />
      }
    </div>
  </fold-popover>
</fold-input-base>
