<ng-template #inner>
  @if (icon(); as i) {
    <fold-icon [name]="i" size="sm" />
  }
  <span class="lnk-label"><ng-content /></span>
  @if (trailingIcon(); as t) {
    <fold-icon [name]="t" size="sm" />
  }
</ng-template>
@if (href(); as h) {
  <a
    class="lnk"
    [href]="h"
    [attr.target]="target() ?? null"
    [attr.rel]="resolvedRel()"
  >
    <ng-container [ngTemplateOutlet]="inner" />
  </a>
} @else {
  <button
    type="button"
    class="lnk"
    [disabled]="disabled()"
    (click)="clicked.emit($event)"
  >
    <ng-container [ngTemplateOutlet]="inner" />
  </button>
}
